/* globali */

body{
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

h1{
    margin: 0;
}

.tutto{
    display: flex;
    width: 100%;
}
.sinistra, .destra{
    width: 50%;
}

.logo {
    margin-left: 2%; 
    width:10%;
}

.menuButtons{
    flex-grow: 1;
    display: flex;
    justify-content: center; /* Centra i pulsanti orizzontalmente */
    align-items: center;
    margin-left: -12%;
}

.titleDiv{
    width: 100%;
    text-align: center;
    padding-top: 18%;
}

.title{
    font-family: 'Baskervville', serif;
    color: white;
    font-size: 70px;
}

.scurente{
    height: 100vh;
    background-color: rgba(0,0,0,.8);
}

.menuBar{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.menuButton{
    border: none;
    background-color: transparent;
    color: white;
    font-family: 'Victor Mono', monospace;
    font-size: 20px;
    margin-top: 40px;
}

.menuButton:hover{
    color: rgb(128, 128, 128);
    text-decoration: underline;

}

.menuButtonCurrent{
    border: none;
    background-color: transparent;
    color: white;
    font-family: 'Victor Mono', monospace;
    font-size: 20px;
    margin-top: 40px;
    text-decoration: underline;
}

.settings{
    height: 30vh;
    width: 100%;
    background-color: black;
}

.immagineUpload{
    width: 10%;
}

.successo{
    width: 80%;
    margin-left: 10%;
}

.drop-zone{
    height: 50%; width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px dashed grey;
    border-radius: 2rem;
}

.dropAreaConImmagine{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: fit-content; width: 80%;
    padding: 10%;
    margin-left: 20%;
    border: 5px dashed grey;
    border-radius: 2rem;
}

.immagineVecchia{
    width: 10%;
}


.areaBottoneSotto{
    padding-bottom: 1%;
    width: 30%;
    margin-left: auto; margin-right: auto;
}

.formInserimentoCiboBottoni{
    width: 100%;
    text-align: center;

}

.settingsButton{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-family: 'REM', sans-serif;
    padding-left: 10px; padding-right: 10px;
    padding-top: 5px; padding-bottom: 5px;
    margin-left: 20px; margin-right: 20px;
    margin-top: 40px;
    font-size: 20px;   
}

.socialLogo{
    margin-left: 1%; margin-right: 1%;
    padding-top: 5%;
    max-width: 40px;

}

.social{
    width: 100%;
    text-align: center;
}

@media screen and (width < 1400px) and (width >= 600px ) {
    .logo{
        padding-top: 1%;
    }
}




@media screen and (width < 600px) {
    .logo{
        padding-top: 2%;
    }
    .settings{
        height: fit-content;
    }
    .settingsButton{
        font-size: 10px;
    }
    .socialLogo{
        max-width: 20px;
    }
    .settingsButton{
        font-size: 10px !important;
        margin-left: 0 !important; margin-right: 0 !important;
        margin-bottom: 50px !important;
    }
}


@media screen and (height < 600px){
    .formPrenotazione{
        height: fit-content !important
    }
    .scurente{
        height: fit-content !important
    }
}





/* fine globali */






@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

.formPrenotazione{
    height: 100vh;
    width: 100%;
    background-image: url(1.jpeg);
    background-size: cover;
    background-position: center;
}

.formForm {
    padding-top: 3%;
    width: 350px;
    position: relative;
}
.form-field::before {
    font-size: 20px;
    position: absolute;
    left: 15px;
    top: 17px;
    color: #888888;
    content: " ";
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}
.form-field:nth-child(1)::before {
    width: 20px;
    height: 20px;
    top: 15px;
}
.form-field:nth-child(2)::before {
    width: 16px;
    height: 16px;
}
.form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}
.formInput {
    font-family: inherit;
    width: 100%;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    display: block;
    padding: 0.9rem 0.7rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    color: #4A4A4A;
    text-indent: 40px;
}
.bottoneSubmit {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
    text-align: center;
    background-color: rgba(255,255,255,.8);
    font-family: 'REM', sans-serif;
    color: black;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    width: 100%;
}

.divPrenota{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}


#bevande {
    display: none;
}
#vini {
    display: none;
}

.hide{
    display: none;
}

.show{
    display: contents;
}



.popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px; /* Larghezza del popup */
        padding: 20px;
        background-color: rgba(128,128,128, .5);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        text-align: center;
        color: white;
    }
    
    .show {
        display: block;
    }
    
    .hide {
        display: none;
    }
  
  /* Stili CSS per i pulsanti del popup */
    .popup button {
        margin-top: 1%; margin-bottom: 1%;
    }
  
    .popup button:hover {
        background-color: #0056b3;
    }



.formDate {
    font-family: inherit;
    width: 100%;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    text-align: left;
    padding: 0.9rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    color: rgb(117,117,117);
    text-indent: 5px;
    padding-left: 35px;
}

.formOrario {
    font-family: inherit;
    width: 100%;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    display: block;
    padding: 0.9rem 0.7rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    color: rgb(117,117,117);
    text-indent: 40px;
}



.container{
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3rem; /* Aggiunge uno spazio tra le card */
}


#show{
    background-color: green !important; 
    border: green !important; 
    margin: 2px !important;
}

#hidden{
    background-color: red !important; 
    border: red !important; 
    margin: 2px !important;
}


.form-container {
    padding: none;
    display: flex;
    justify-content: space-between; /* Distribuisce i form orizzontalmente */
    width: 90%;
    margin: 3% auto;
    background-color: #ffb800;
    border:none;
    border-radius: 1rem;
}

.form-contained {
    padding: 10px;
    border-radius: 5px;
    flex: 1; /* Fa sì che i form siano dello stesso larghezza e occupino lo spazio disponibile */
    margin-right: 10px; /* Spazio tra i form */
}

.button-container {
    text-align: center; /* Centra il bottone all'interno del form */
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottoneCambioCategoria{
    font-family: 'REM', sans-serif;
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: x-large;
}

.formInserimentoCibo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inputAreas{
    padding-bottom: 5%;
}

.textAreas{
    padding-bottom: 5%;
}

.franco{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    padding: 0.5rem 0.3rem;
    text-indent: 40px;
    background-color: rgb(230, 230, 230);
    margin-bottom: 5%;
}

.bottoneCapicollo{
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
    text-align: center;
    background-color: #ffb800;
    font-family: 'REM', sans-serif;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    width: 100%;
}

.formInputNuovo{
    font-family: inherit;
    width: 100%;
    outline: none;
    background-color: rgb(230, 230, 230);
    border-radius: 4px;
    border: none;
    display: block;
    padding: 0.9rem 0.7rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    color: #4A4A4A;
    text-indent: 40px;
}

.btn{
    width: 100%;
}


.titoloCibo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.custom-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.custom-switch input {
    display: none;
}

.custom-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1rem;
}

.custom-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1rem;
}

input:checked + .custom-slider {
    background-color: green;
    border-radius: 1rem;
}

input:focus + .custom-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .custom-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}