{% extends "layout.html" %}


{% block title %}
    <title>ADMIN - GESTIONE CATEGORIE</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/stylePrenota.css">
{% endblock %}

{% block body %}

    <div class="form-container">
        <div class="form-contained">
            <form action="/aggiungi" method="get">
                <div class="button-container">
                    <input type="hidden" name="categoria" value="{{ categoria }}">
                    <button type="submit" class="bottoneCambioCategoria">Aggiungi Articolo</button>
                </div>
            </form>
        </div>
        
        <div class="form-contained">
            <form action="/gestioneCategorie">
                <div class="button-container">
                    <button type="submit" class="bottoneCambioCategoria">Torna alle categorie</button>
                </div>
            </form>
        </div>

        <div class="form-contained">
            <form action="/admin">
                <div class="button-container">
                    <button type="submit" class="bottoneCambioCategoria">Torna alla scheda admin</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        {% for cibo in cibi %}
        <div class="card text-center" style="width: 18rem;">
            {% if immagine[cibo.food_name] != '' %}
                
                {% if immagine[cibo.food_name][1] == 'PNG' %}
                    
                    <div style="width: 100%; text-align: center;">
                        <img src="data:image/png;base64, {{ immagine[cibo.food_name][0] }}" class="card-img-top" alt="..." style="max-width: 20%;">
                    </div>
                {% endif %}
                {% if immagine[cibo.food_name][1] == 'JPEG' %}
                    
                    <div style="width: 100%; text-align: center;">
                        <img src="data:image/jpg;base64, {{ immagine[cibo.food_name][0] }}" class="card-img-top" alt="..." style="max-width: 20%;">
                    </div>
                {% endif %}
            {% endif %}
            {% if immagine[cibo.food_name] == '' %}
                    <img src="../static/modello-di-copertina-del-menu-del-ristorante-cafe-pagina-del-titolo-con-doodle-di-cibo-disegnato-a-mano-contorno-di-schizzo-colorato-su-sfondo-bianco-poster-vettoriale-con-illustrazione-dell-elemento-di-cottura-wdkmf1.jpg" alt="">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ cibo.food_name }}</h5>
                <p>{{ cibo.description }}</p>
                <p>€{{ cibo.price }}</p>
                <form action="/modifica">
                    <input type="hidden" name="nomeCategoria" value="{{ categoria }}">
                    <input type="hidden" name="nomeCibo" value="{{cibo.food_name}}">
                    {% if immagine[cibo.food_name] != '' %}
                        <input type="hidden" name="immagine" value="{{ immagine[cibo.food_name][0] }}">
                        <input type="hidden" name="formato" value="{{immagine[cibo.food_name][1]}}">
                    {% endif %}
                    {% if immagine[cibo.food_name] == '' %}
                        <input type="hidden" name="immagine">
                        <input type="hidden" name="formato">
                    {% endif %}
                    <button type="submit" class="btn btn-primary" style="background-color: white !important; border: white !important; margin: 2px; color: black;">
                        <img src="../static/edit_pencil_paper_modify_write_icon_141958.png" alt="" width="10%">
                    </button>
                </form>

                {% if cibo.status == 'show' %}
                    <form id="myFormShow-{{cibo.food_name}}" action="/rimuovi" method="post" >
                        <input type="hidden" name="nomeCategoria" value="{{ categoria }}">
                        <input type="hidden" name="nomeCibo" value="{{ cibo.food_name }}">
                        <label class="custom-switch">
                            <input type="checkbox" id="mySwitchShow-{{cibo.food_name}}" name="switch" checked>
                            <span class="custom-slider"></span>
                        </label>
                    </form>
                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            const mySwitchShow = document.getElementById("mySwitchShow-{{cibo.food_name}}");
                            const myFormShow = document.getElementById("myFormShow-{{cibo.food_name}}"); // Ottieni la form corretta
                            
                            mySwitchShow.addEventListener("change", function() {
                                myFormShow.submit();
                            });
                        });
                    </script>
                {% endif %}


                {% if cibo.status == 'hidden' %}
                    <form id="myFormHidden-{{cibo.food_name}}" action="/ripristinaElementi" method="post">
                        <input type="hidden" name="nomeCategoria" value="{{ categoria }}">
                        <input type="hidden" name="nomeCibo" value="{{cibo.food_name}}">
                        <label class="custom-switch">
                            <input type="checkbox" id="mySwitchHidden-{{cibo.food_name}}" name="switch">
                            <span class="custom-slider"></span>
                        </label>
                    </form>
                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            const mySwitchShow = document.getElementById("mySwitchHidden-{{cibo.food_name}}");
                            const myFormShow = document.getElementById("myFormHidden-{{cibo.food_name}}"); // Ottieni la form corretta
                            
                            mySwitchShow.addEventListener("change", function() {
                                myFormShow.submit();
                            });
                        });
                    </script>
                {% endif %}

                
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
