{% extends "layout.html" %}

{% block style %} 
    <link rel="stylesheet" href="../static/stylePage.css">
{% endblock %}

{% block title %} 
    <title>Cookie Policy</title>
{% endblock %}

{% block body %}
    <div class="divMenuBar">
        <div class="menuBar">
            <form action="/home">
                <button class="menuButton" name="home">HOME</button>
            </form>
            <form action="/menu">
                <button class="menuButton" name="menu">MENU</button>
            </form>
            <form action="/prenotazioni">
                <button class="menuButton" name="prenotazioni">PRENOTAZIONI</button>
            </form>
        </div>
    </div>
    <div class="all">
        <div class="titleDivNuovo">
            <h1 class="titolo">Cookie Policy</h1>
        </div>
        <div class="pDiv">
            <p class="sort">
                Cookie Policy di www.pizzeriadivina.com
                <br>
                ​<br>
                <br>
                Riceviamo, raccogliamo e archiviamo tutte le informazioni che inserisci sul nostro sito web o ci fornisci in qualsiasi altro modo. Inoltre, raccogliamo l'indirizzo IP (Internet Protocol) utilizzato per connettere il tuo computer a Internet; accesso; indirizzo email; parola d'ordine; informazioni su computer e connessione e cronologia acquisti. Potremmo utilizzare strumenti software per misurare e raccogliere informazioni sulla sessione, inclusi tempi di risposta alle pagine, durata delle visite a determinate pagine, informazioni sull'interazione della pagina e metodi utilizzati per navigare lontano dalla pagina. Raccogliamo anche informazioni personali identificabili (tra cui nome, email, password, comunicazioni); dettagli di pagamento (incluse informazioni sulla carta di credito), commenti, feedback, recensioni di prodotti, raccomandazioni e profilo personale.
                <br>
                Quando conduci una transazione sul nostro sito web, come parte del processo, raccogliamo le informazioni personali che ci fornisci come il tuo nome, indirizzo fisico e indirizzo email. Le tue informazioni personali verranno utilizzate solo per i motivi specifici sopra indicati.
                <br>
                Raccogliamo tali informazioni personali e non-personali per i seguenti scopi: 
                
                    fornire e gestire i Servizi; 
                    fornire assistenza continua e supporto tecnico ai nostri utenti; 
                    per essere in grado di contattare i nostri visitatori e utenti con avvisi di servizi generali o personalizzati e messaggi promozionali; 
                    per creare dati statistici aggregati e altre informazioni non personali aggregate e / o dedotte, che noi o i nostri partner commerciali possano utilizzare per fornire e migliorare i nostri rispettivi servizi;
                    per rispettare le leggi e i regolamenti applicabili
                
                <br>
                La nostra azienda è ospitata sulla piattaforma Wix.com.
                <br>
                Wix.com ci fornisce la piattaforma online che ci consente di vendere i nostri prodotti e servizi. I tuoi dati possono essere archiviati tramite la memoria dati, i database e le applicazioni generali di Wix.com.
                <br>
                I tuoi dati sono da loro conservati su server sicuri, protetti da firewall. 
                <br>
                Tutti i gateway di pagamento diretto offerti da Wix.com e utilizzati dalla nostra azienda aderiscono agli standard stabiliti da PCI-DSS come gestiti dal PCI Security Standards Council, che è uno impegno congiunto di marchi come Visa, MasterCard, American Express e Discover. I requisiti PCI-DSS aiutano a garantire la gestione sicura delle informazioni della carta di credito da parte del nostro negozio e dei suoi fornitori.
                <br>
                Potremmo contattarti per informarti in merito al tuo account, per risolvere problemi relativi al tuo account, per risolvere una controversia, per riscuotere commissioni o somme dovute, per sondare le tue opinioni tramite sondaggi o questionari, per inviare aggiornamenti sulla nostra azienda, o come altrimenti necessario potremmo contattarti per far rispettare il nostro Accordo stipulato con gli utenti, le leggi nazionali applicabili e qualsiasi accordo che potremmo avere con te. A tal fine, potremmo contattarti via email, telefono, sms e posta ordinaria.
                <br>
                Se non desideri che i tuoi dati vengano elaborati, ti preghiamo di contattarci all'indirizzo email divinapizzeriabraceria.info@gmail.com o di inviarci una lettera a: Via Orazio Comes, 55, 70124 Bari BA
                <br>
                <br>
                <br>
                Cookie e altri Identificatori sono costituiti da porzioni di codice installate all'interno del browser che assistono il Titolare nell'erogazione del Servizio in base alle finalità descritte. Alcune delle finalità di installazione dei Cookie potrebbero, inoltre, necessitare del consenso dell'Utente.
                <br>
                <br>
                <br>
                Quando l'installazione di Cookies avviene sulla base del consenso, tale consenso può essere revocato liberamente in ogni momento seguendo le istruzioni contenute in questo documento.
                <br>
                <br>
                <br>
                Cookie tecnici e Cookie che servono a fini statistici aggregati
                <br>
                Attività strettamente necessaria al funzionamento del Servizio
                <br>
                Questa Applicazione utilizza Cookie per salvare la sessione dell'Utente e per svolgere altre attività strettamente necessarie al funzionamento di questa Applicazione, ad esempio in relazione alla distribuzione del traffico.
                <br>
                <br>
                <br>
                Attività di salvataggio delle preferenze, ottimizzazione e statistiche
                <br>
                Questa Applicazione utilizza Cookie per salvare le preferenze di navigazione ed ottimizzare l'esperienza di navigazione dell'Utente. Fra questi Cookie rientrano, ad esempio, quelli utilizzati per l'impostazione delle preferenze di lingua e valuta o per la gestione di statistiche di prima parte impiegate direttamente dal Titolare del sito.
                <br>
                <br>
                <br>
                Altre tipologie di Cookie o terze parti che installano Cookie
                <br>
                Alcuni dei servizi elencati di seguito raccolgono statistiche in forma aggregata ed anonima e potrebbero non richiedere il consenso dell'Utente o potrebbero essere gestiti direttamente dal Titolare - a seconda di quanto descritto - senza l'ausilio di terzi.
                <br>
                <br>
                <br>
                Qualora fra gli strumenti indicati in seguito fossero presenti servizi gestiti da terzi, questi potrebbero - in aggiunta a quanto specificato ed anche all'insaputa del Titolare - compiere attività di tracciamento dell'Utente. Si prega di fare riferimento alla privacy policy dei servizi elencati per informazioni dettagliate.
                <br>
                <br>
                <br>
                Analytics
                <br>
                I servizi contenuti in questa sezione consentono al Titolare di monitorare e analizzare il traffico web e possono essere utilizzati per tenere traccia del comportamento dell'Utente.
                <br>
                <br>
                <br>
                Google Analytics (Google Ireland Limited)
                <br>
                Google Analytics è un servizio di analisi web fornito da Google Ireland Limited ("Google"). Google utilizza i Dati raccolti per tracciare ed esaminare l'utilizzo di questa Applicazione, per preparare report sulle sue attività e condividerli con altri servizi Google.
                <br>
                Google potrebbe utilizzare i Dati raccolti per contestualizzare e personalizzare gli annunci del proprio network pubblicitario.
                <br>
                Dati personali raccolti: Cookie e Dati di utilizzo.
                <br>
                <br>
                <br>
                Luogo del trattamento: Irlanda - Privacy Policy - Opt Out. Partecipante al Privacy Shield.
                <br>
                <br>
                <br>
                Come fornire o revocare il consenso all'installazione dei Cookie
                <br>
                In aggiunta a quanto specificato in questo documento, l'Utente può gestire le preferenze per i Cookie direttamente dal proprio browser ed impedire - ad esempio - l'installazione di Cookie a terze parti.
                <br>
                Tramite le preferenze del browser è inoltre possibile eliminare i Cookie installati in passato, compresi i Cookie che potrebbero aver salvato il consenso iniziale all'installazione di Cookie da parte di questo sito.
                <br>
                Gli utenti possono, ad esempio, trovare informazioni su come gestire i Cookie nei browser più comunemente utilizzati ai seguenti indirizzi: Google Chrome, Mozilla Firefox, Apple Safari e Microsoft Internet Explorer.
                <br>
                <br>
                <br>
                Relativamente ai Cookie installati da terze parti, l'Utente può gestire le proprie preferenze e revocare il proprio consenso cliccando sul relativo link di opt-out (se previsto), utilizzando i mezzi previsti dalla privacy policy della terza parte, oppure contattando la terza parte .
                <br>
                <br>
                <br>
                Nonostante quanto sopra, gli utenti sono informati che possono seguire le istruzioni fornite da YourOnlineChoices (EU), Network Advertising Initiative (US) e Digital Advertising Alliance (US), DAAC (Canada), DDAI (Giappone) o altri servizi simili . Tali iniziative consentono agli Utenti di selezionare le proprie preferenze di tracciamento per la maggior parte degli strumenti pubblicitari. Il Titolare raccomanda quindi agli Utenti di utilizzare queste risorse in aggiunta alle informazioni fornite in questo documento.
                <br>
                <br>
                <br>
                Titolare e Titolare del trattamento
                <br>
                Roberto Stella
                <br>
                Via Orazio Comes 55 bari
                <br>
                <br>
                <br>
                Indirizzo email del Titolare: pizzeriadivina@gmail.com
                <br>
                <br>
                <br>
                Dal momento che l'installazione di Cookie e di altri sistemi di tracciamento operata da terze parti tramite i servizi utilizzati all'interno di questa Applicazione non può essere tecnicamente controllata dal Titolare, ogni riferimento specifico a Cookie e sistemi di tracciamento installati da terze parti è da considerarsi indicativo. Per ottenere informazioni complete, l'Utente è invitato a consultare la privacy policy degli eventuali servizi terzi elencati in questo documento.
                <br>
                Data l'oggettiva complessità che circonda l'identificazione delle tecnologie basate sui Cookie, gli Utenti sono incoraggiati a contattare il Titolare qualora desiderassero ricevere ulteriori informazioni sull'utilizzo dei Cookie da parte di questa Applicazione.
                <br>
                Definizioni e riferimenti legali
                <br>
                Dati personali (o dati)
                <br>
                Qualsiasi informazione che direttamente, indirettamente o in connessione con altre informazioni - compreso un numero di identificazione personale - consenta l'identificazione o l'identificabilità di una persona fisica.
                <br>
                Dati di utilizzo
<br>
                Informazioni raccolte automaticamente tramite questa Applicazione (o servizi di terze parti impiegate in questa Applicazione), che possono includere: gli indirizzi IP oi nomi di dominio dei computer utilizzati dagli Utenti che utilizzano questa Applicazione, gli indirizzi URI (Uniform Resource Identifier), il l'ora della richiesta, il metodo utilizzato per sottoporre la richiesta al server, la dimensione del file ricevuto in risposta, il codice numerico indicante lo stato della risposta del server (buon fine, errore, ecc.), il paese di provenienza, le caratteristiche del browser e del sistema operativo utilizzato dall'Utente, i vari dettagli del tempo per visita (es. il tempo trascorso su ciascuna pagina all'interno dell'Applicazione) e i dettagli sul percorso seguito all'interno dell'Applicazione con particolare riferimento alla sequenza di pagine visitate e altri parametri relativi al sistema operativo del dispositivo e / o all'ambiente informatico dell'Utente.
<br>
                Utente
<br>
                L'individuo che utilizza questa Applicazione che, salvo ove diversamente specificato, coincide con l'Interessato.
<br>
                Soggetto dei dati
<br>
                La persona fisica cui si riferiscono i Dati Personali.
<br>
                Responsabile del trattamento (o supervisore dei dati)
<br>
                La persona fisica o giuridica, autorità pubblica, agenzia o altro ente che tratta i Dati Personali per conto del Titolare, come descritto nella presente informativa sulla privacy.
<br>
                Titolare del trattamento (o Titolare)
<br>
                La persona fisica o giuridica, l'autorità pubblica, l'agenzia o altro ente che, da solo o insieme ad altri, determina le finalità e i mezzi del trattamento dei Dati Personali, comprese le misure di sicurezza riguardanti il ​​funzionamento e l'uso di questa Applicazione. Il Titolare del Trattamento, salvo quanto diversamente specificato, è il titolare di questa Applicazione.
<br>
                Questa applicazione
<br>
                Le modalità con cui vengono raccolti e trattati i Dati Personali dell'Utente.
<br>
                Servizio
<br>
                Il Servizio fornito da questa Applicazione così come definito nei relativi termini (se presenti) su questo sito / applicazione.
<br>
                Unione Europea (o UE)
<br>
                Salvo ove diversamente specificato, ogni riferimento all'Unione Europea contenuto in questo documento si intende comprensivo di tutti gli attuali stati membri dell'Unione Europea e dello Spazio Economico Europeo.
<br>
                Biscotti
<br>
                Piccola porzione di dati conservata all'interno del dispositivo dell'Utente.
<br>
                Informazione legale
<br>
                La presente informativa sulla privacy è stata redatta sulla base di disposizioni di molteplici legislazioni, tra cui l'art. 13/14 del Regolamento (UE) 2016/679 (General Data Protection Regulation).
<br>
                Se non diversamente specificato in questo documento, questa informativa privacy si riferisce esclusivamente a questa Applicazione.
<br>
<br>
<br>            ​
                Ci riserviamo il diritto di modificare questa informativa sulla privacy in qualsiasi momento, quindi ti preghiamo di controllarla frequentemente. Cambiamenti e chiarimenti entreranno in vigore immediatamente dopo la loro pubblicazione sul sito web.
<br>
<br>            
<br>
                Se apportiamo modifiche sostanziali a questa informativa, ti notificheremo che è stata aggiornata, in modo che tu sappia quali informazioni raccogliamo, come le usiamo e in quali circostanze le usiamo e/o divulghiamo.
<br>
                Se desideri accedere, correggere, modificare o eliminare qualsiasi informazione personale che abbiamo su di te, sei invitato a contattarci all'indirizzo divinapizzeriabraceria.info@gmail.com o inviare una lettera a: Via Orazio Comes, 55, 70124 Bari BA.
                            </p>
        </div>
    </div>

    <div class="settings">
        <div class="menuBar">
            <form action="/termini">
                <button class="settingsButton">Termini e Condizioni</button>
            </form>
            <form action="#">
                <button class="settingsButton">Cookie Policy</button>
            </form>
            <form action="/login">
                <button class="settingsButton" name="prenotazioni">LOGIN</button>
            </form>
            <form action="/register">
                <button class="settingsButton" name="prenotazioni">REGISTRATI</button>
            </form>
        </div>
        <div class="social">
            <a href="https://www.instagram.com/divinapizzeria_braceria/">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngkey.com%2Fpng%2Ffull%2F1-19361_watercolor-instagram-icon-png-instagram-logo-white-on.png&f=1&nofb=1&ipt=377ad582c2a71eab09461ffcf60b5880d411376a17263b9ef4d1153d7e09f413&ipo=images" alt="instagram" class="socialLogo">
            </a>
            <a href="https://www.facebook.com/divinabraceriapizzeria">
                <img src="../static/facebook.png" alt="facebook" class="socialLogo">
            </a>
            <a href="https://www.tripadvisor.it/Restaurant_Review-g187874-d3267198-Reviews-Divina_Pizzeria_Braceria-Bari_Province_of_Bari_Puglia.html">
                <img src="../static/trip.png" alt="tripadvisor" class="socialLogo">
            </a>
        </div>
    </div>


{% endblock %}