{% extends "layout.html" %}


{% block title %}
    <title>ADMIN - GESTIONE CATEGORIE</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/stylePrenota.css">
{% endblock %}

{% block body %}

    <div class="form-container">
        <div class="form-contained">
            <form action="#" method="get">
                <div class="button-container">
                    <button type="submit" class="bottoneCambioCategoria">Aggiungi Categoria</button>
                </div>
            </form>
        </div>
        
        <div class="form-contained">
            <form action="/admin">
                <div class="button-container">
                    <button type="submit" class="bottoneCambioCategoria">Torna al pannello di controllo</button>
                </div>
            </form>
        </div>

        <div class="form-contained">
            <form action="/">
                <div class="button-container">
                    <button type="submit" class="bottoneCambioCategoria">Torna alla Home</button>
                </div>
            </form>
        </div>
    </div>



    <div class="container">
        {% for categoria in cibi %}
        <div class="card text-center" style="width: 18rem;">
            <img src="../static/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ categoria.nome_categoria }}</h5>
                <form action="/gestioneCategorie" method="post">
                    <input type="hidden" name="nomeCategoria" value="{{categoria.nome_categoria}}">
                    <button type="submit" class="btn btn-primary" style="background-color: #ffb800 !important; border: #ffb800 !important;">Modifica</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
