{% extends "layout.html" %}


{% block title %}
    <title>ADMIN - GESTIONE CATEGORIE</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/stylePrenota.css">
{% endblock %}

{% block body %}

    <div class="form-container">
        <div class="form-contained">
            <form action="/aggiungiCategoria" method="get">
                <div class="button-container">
                    <button type="submit" class="bottoneCambioCategoria">Aggiungi Categoria</button>
                </div>
            </form>
        </div>
        

        <div class="form-contained">
            <form action="/admin">
                <div class="button-container">
                    <button type="submit" class="bottoneCambioCategoria">Torna al pannello di controllo</button>
                </div>
            </form>
        </div>

        <div class="form-contained">
            <form action="/">
                <div class="button-container">
                    <button type="submit" class="bottoneCambioCategoria">Torna alla Home</button>
                </div>
            </form>
        </div>

        
    </div>



    <div class="container">
        {% for categoria in cibi %}
        <div class="card text-center" style="width: 18rem;">
            {% if immagini[categoria.nome_categoria] != '' %}
                {% if immagini[categoria.nome_categoria][1] == 'PNG' %}
                    <div style="width: 100%; text-align: center;">
                        <img src="data:image/png;base64, {{ immagini[categoria.nome_categoria][0] }}" class="card-img-top" alt="..." style="max-width: 20%;">
                    </div>
                {% endif %}
                {% if immagini[categoria.nome_categoria][1] == 'JPEG' %}
                    <div style="width: 100%; text-align: center;">
                        <img src="data:image/jpg;base64, {{ immagini[categoria.nome_categoria][0] }}" class="card-img-top" alt="..." style="max-width: 20%;">
                    </div>
                {% endif %}
            {% endif %}
            {% if immagini[categoria.nome_categoria] == '' %}
                    <img src="../static/e.jpg" alt="">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ categoria.nome_categoria }}</h5>

                <form action="/modificaCategoria" method="get">
                    <input type="hidden" name="nomeCategoria" value="{{categoria.nome_categoria}}">
                    <button type="submit" class="btn btn-primary" style="background-color: white !important; border: white !important; margin: 2px; color: black;">
                        <img src="../static/edit_pencil_paper_modify_write_icon_141958.png" alt="" width="10%">
                    </button>
                </form>


                {% if categoria.status == 'show' %}
                    <form id="myFormShow-{{categoria.nome_categoria}}" action="/nascondiCategoria" method="post" >
                        <input type="hidden" name="nomeCategoria" value="{{ categoria.nome_categoria }}">
                        <label class="custom-switch">
                            <input type="checkbox" id="mySwitchShow-{{categoria.nome_categoria}}" name="switch" checked>
                            <span class="custom-slider"></span>
                        </label>
                    </form>
                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            const mySwitchShow = document.getElementById("mySwitchShow-{{categoria.nome_categoria}}");
                            const myFormShow = document.getElementById("myFormShow-{{categoria.nome_categoria}}"); // Ottieni la form corretta
                            
                            mySwitchShow.addEventListener("change", function() {
                                myFormShow.submit();
                            });
                        });
                    </script>
                {% endif %}


                {% if categoria.status == 'hidden' %}
                    <form id="myFormHidden-{{categoria.nome_categoria}}" action="/ripristinaCategoria" method="post">
                        <input type="hidden" name="nomeCategoria" value="{{ categoria.nome_categoria}}">
                        <label class="custom-switch">
                            <input type="checkbox" id="mySwitchHidden-{{categoria.nome_categoria}}" name="switch">
                            <span class="custom-slider"></span>
                        </label>
                    </form>
                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            const mySwitchShow = document.getElementById("mySwitchHidden-{{categoria.nome_categoria}}");
                            const myFormShow = document.getElementById("myFormHidden-{{categoria.nome_categoria}}"); // Ottieni la form corretta
                            
                            mySwitchShow.addEventListener("change", function() {
                                myFormShow.submit();
                            });
                        });
                    </script>
                {% endif %}


                <form action="/gestioneCategorie" method="post">
                    <input type="hidden" name="nomeCategoria" value="{{categoria.nome_categoria}}">
                    <button type="submit" class="btn btn-primary" style="background-color: #ffb800 !important; border: #ffb800 !important; margin: 2px; width: 50% !important;">Entra</button>
                </form>
                
                
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
