{% extends "layout.html" %}


{% block title %}
    <title>ADMIN - GESTIONE CATEGORIE</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/stylePrenota.css">
{% endblock %}

{% block body %}

    <div class="form-container">
        <div class="form-contained">
            <form action="/aggiungiCategoria" method="get">
                <div class="button-container">
                    <button type="submit" class="bottoneCambioCategoria">Aggiungi Categoria</button>
                </div>
            </form>
        </div>
        

        <div class="form-contained">
            <form action="/admin">
                <div class="button-container">
                    <button type="submit" class="bottoneCambioCategoria">Torna al pannello di controllo</button>
                </div>
            </form>
        </div>

        <div class="form-contained">
            <form action="/">
                <div class="button-container">
                    <button type="submit" class="bottoneCambioCategoria">Torna alla Home</button>
                </div>
            </form>
        </div>

        
    </div>



    <div class="container">
        {% for categoria in cibi %}
        <div class="card text-center" style="width: 18rem;">
            {% if immagini[categoria.nome_categoria] != '' %}
                {% if immagini[categoria.nome_categoria][1] == 'PNG' %}
                    <div style="width: 100%; text-align: center;">
                        <img src="data:image/png;base64, {{ immagini[categoria.nome_categoria][0] }}" class="card-img-top" alt="..." style="max-width: 20%;">
                    </div>
                {% endif %}
                {% if immagini[categoria.nome_categoria][1] == 'JPEG' %}
                    <div style="width: 100%; text-align: center;">
                        <img src="data:image/jpg;base64, {{ immagini[categoria.nome_categoria][0] }}" class="card-img-top" alt="..." style="max-width: 20%;">
                    </div>
                {% endif %}
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ categoria.nome_categoria }}</h5>
                {% if categoria.status == 'show' %}
                    <form action="/nascondiCategoria" method="post">
                        <input type="hidden" name="nomeCategoria" value="{{ categoria.nome_categoria }}">
                        <button type="submit" class="btn btn-primary" style="background-color: #ffb800 !important; border: #ffb800 !important; margin: 2px;">Disattiva</button>
                    </form>
                {% endif %}
                {% if categoria.status == 'hidden' %}
                    <form action="/ripristinaCategoria" method="post">
                        <input type="hidden" name="nomeCategoria" value="{{ categoria.nome_categoria}}">
                        <button type="submit" class="btn btn-primary" style="background-color: #ffb800 !important; border: #ffb800 !important; margin: 2px;">Attiva</button>
                    </form>
                {% endif %}
                <form action="/gestioneCategorie" method="post">
                    <input type="hidden" name="nomeCategoria" value="{{categoria.nome_categoria}}">
                    <button type="submit" class="btn btn-primary" style="background-color: #ffb800 !important; border: #ffb800 !important; margin: 2px;">Entra</button>
                </form>
                <form action="/modificaCategoria" method="get">
                    <input type="hidden" name="nomeCategoria" value="{{categoria.nome_categoria}}">
                    <button type="submit" class="btn btn-primary" style="background-color: #ffb800 !important; border:#ffb800 !important;  margin: 2px;" >Modifica</button>
                </form>
                <form action="/rimuoviCategoria" method="post">
                    <input type="hidden" name="nomeCategoria" value="{{categoria.nome_categoria}}">
                    <button type="submit" disabled class="btn btn-primary" style="background-color: red !important; border:red !important;  margin: 2px;">Elimina</button>
                </form>
                <button type="submit" disabled class="btn btn-primary" id="{{categoria.status}}" style=" margin: 2px;">
                    {% if categoria.status == 'show' %}
                        Attivo
                    {% endif %}
                    {% if categoria.status == 'hidden' %}
                        Non Attivo
                    {% endif %}                             
                </button>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
