{% extends "layout.html" %}

{% block title %}

    <title>DIVINA - MENU</title>

{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/styleMenu.css">
{% endblock %}

{% block body %}
    <div class="welcomeMenu">
        <div class="scurente">
            <div class="menuBar">
                <form action="/home">
                    <button class="menuButton" name="home">HOME</button>
                </form>
                <form action="/menu">
                    <button class="menuButtonCurrent" name="menu">MENU</button>
                </form>
                <form action="/selezionaData">
                    <button class="menuButton" name="prenotazioni">PRENOTAZIONI</button>
                </form>
            </div>
            <div class="titleDiv">
                <h1 class="title">MENU</h1>
                <!-- <h5 class="sections">BEVANDE | CARTA DEI VINI | ANTIPASTI | PRIMI | CARNI FROLLATE | SECONDI DI CARNE | PIZZE GOURMET | LE NOSTRE SPECIALITÀ | PIZZE CLASSICHE | PIZZE BIANCHE | DOLCI & DESSERT | DISTILLATI</h5> -->
            </div>
        </div>
    </div>

    <div class="menuDiv">
        <div class="dual">
            {% for categoria in cibi %}
                <div class="immagineCategoriaMenu">
                    {% if immagini[categoria.nome_categoria] != '' %}
                        {% if immagini[categoria.nome_categoria][1] == 'PNG' %}
                            
                            <img src="data:image/png;base64, {{ immagini[categoria.nome_categoria][0] }}" alt="..." class="immagine">
                            
                        {% endif %}
                        {% if immagini[categoria.nome_categoria][1] == 'JPEG' %}
                            
                            <img src="data:image/jpg;base64, {{ immagini[categoria.nome_categoria][0] }}" alt="..." class="immagine">
                            
                        {% endif %}
                    {% endif %}
                </div>
                <div class="menuTitleDiv">
                    <h5 class="menuSection">{{ categoria.nome_categoria }}</h5>
                </div>
                <div id="menuBevande" >
                    {% for singolaCategoria in categoria.contenuto_categoria %}
                    <table class="sx">
                        {% for cibo in singolaCategoria %}
                        <tr>
                            <td class="menuItem">{{ cibo.food_name }} <span class="subtitle">{{ cibo.description }}</span></td>
                            <td class="menuItem">€ {{ cibo.price }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endfor %}
                </div>
            {% endfor %}

            <br><br><br>
        </div>
        <div class="single">
            {% for categoria in cibiSingoli %}
                <div class="menuTitleDiv">
                    <h5 class="menuSection">{{ categoria.nome_categoria }}</h5>
                </div>
                <div id="menuBevande" class="tabellaSingola">
                    <table class="sx">
                        {% for cibo in categoria.contenuto_categoria %}
                        <tr>
                            <td class="menuItem">{{ cibo.food_name }} <span class="subtitle">{{ cibo.description }}</span></td>
                            <td class="menuItem">€ {{ cibo.price }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}

            <br><br><br><br><br><br>
        </div>
        

        

    </div>

    <div class="settings">
        <div class="menuBar">
            <form action="/termini">
                <button class="settingsButton">Termini e Condizioni</button>
            </form>
            <form action="/cookie">
                <button class="settingsButton">Cookie Policy</button>
            </form>
            {% if len == 0 %}
                <form action="/login">
                    <button class="settingsButton" name="prenotazioni">LOGIN</button>
                </form>
                <form action="/register">
                    <button class="settingsButton" name="prenotazioni">REGISTRATI</button>
                </form>
            {% endif %}
            {% if len != 0 %}
                <form action="/logout">
                    <button class="settingsButton" name="prenotazioni">LOGOUT</button>
                </form>
            {% endif %}
        </div>
        <div class="social">
            <a href="https://www.instagram.com/divinapizzeria_braceria/">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngkey.com%2Fpng%2Ffull%2F1-19361_watercolor-instagram-icon-png-instagram-logo-white-on.png&f=1&nofb=1&ipt=377ad582c2a71eab09461ffcf60b5880d411376a17263b9ef4d1153d7e09f413&ipo=images" alt="instagram" class="socialLogo">
            </a>
            <a href="https://www.facebook.com/divinabraceriapizzeria">
                <img src="../static/facebook.png" alt="facebook" class="socialLogo">
            </a>
            <a href="https://www.tripadvisor.it/Restaurant_Review-g187874-d3267198-Reviews-Divina_Pizzeria_Braceria-Bari_Province_of_Bari_Puglia.html">
                <img src="../static/trip.png" alt="tripadvisor" class="socialLogo">
            </a>
        </div>
    </div>

    {% endblock %}
