{% extends "layout.html" %}


{% block title %}
    <title>ADMIN - GESTIONE CATEGORIE</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/stylePrenota.css">
{% endblock %}

{% block body %}

    <div class="form-container">
        <div class="form-contained">
            <form action="/gestioneCategorie">
                <div class="button-container">
                    <button type="submit" class="bottoneCambioCategoria">Torna alle categorie</button>
                </div>
            </form>
        </div>

        <div class="form-contained">
            <form action="/">
                <div class="button-container">
                    <button type="submit" class="bottoneCambioCategoria">Torna alla Home</button>
                </div>
            </form>
        </div>
    </div>

    <div class="formInserimentoCibo" >
        <form action="/modifica" method="post" enctype="multipart/form-data" id="upload-form">
            <input type="hidden" name="categoria" value="{{categoria}}">
            <input type="hidden" name="oldName" value="{{nome}}">
            <div class="inputAreas">
                <input type="text" placeholder="Nome" name="nome" required autocomplete="off" class="formInputNuovo" style="margin-bottom: 50px;" value="{{nome}}">
                <input type="text" placeholder="Prezzo" name="prezzo" required autocomplete="off" class="formInputNuovo" style="margin-bottom: 50px;" value="{{prezzo}}">
            </div>
            <div class="textArea">
                <textarea name="description" cols="50" rows="10" placeholder="Inserisci una descrizione (facoltativo)" class="franco">{{descrizione}}</textarea>
            </div>

            <div class="dragArea">
                <input type="file" id="file-input" name="file-input" >
            </div>

            <div class="buttonArea">
                <button type="submit" class="bottoneCapicollo" id="uploadButton">Modifica</button>
            </div>
            
            
        </form>
    </div>


    <br><br>
    <div class="formInserimentoCibo">
        <form action="/rimuoviImmagineCibo" method="post">
            <input type="hidden" value="{{categoria}}" name="categoria">
            <input type="hidden" value="{{nome}}" name="nomeCibo">
            <div class="buttonArea">
                <button type="submit" class="bottoneCapicollo" style="width: 100% !important;">Rimuovi Immagine</button>
            </div>
        </form>
        <form action="/eliminaCiboDefinitivamente">
            <input type="hidden" value="{{categoria}}" name="categoria">
            <input type="hidden" value="{{nome}}" name="nomeCibo">
            <div class="buttonArea">
                <button type="submit" class="bottoneCapicollo" style="background-color: red !important; border: red !important; width: 100%;">Elimina Cibo</button>
            </div>
        </form>
    </div>
    


{% endblock %}
