{% extends  "layout.html" %}

{% block title %}
    <title>ADMIN - UTENTI PRENOTATI</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/styleTable.css">
{% endblock %}


{% block body %}

    <div class="mainContainerAmongo">
        <div class="pannelloDiControllo">
            <form action="/admin">    
                <button type="submit" class="bottoneSubmit">Torna al pannello di controllo</button>
            </form>
        </div>
        <div class="titoloAggiungi">
            <h1 class="titoloSupremo">Aggiungi Nuovo Orario</h1>
        </div>
        <div class="pannelloDiControllo">
            
            <form action="/aggiungiOrario" method="post" class="formFormForm">
                <input type="text" name="nuovoOrario" placeholder="Orario" required autofocus autocomplete="off" class="formInput" style="margin: 2%;">
                <button type="submit" class="bottoneSubmit" style="margin: 2%;">Aggiungi</button>
            </form>
        </div>

        <div class="pannelloDiControllo">
            <form action="/orari" method="get">
                <input type="date" name="data" value="{{data}}" class="formDate" style="margin: 2%;">
                <button type="submit" class="bottoneSubmit" style="margin: 2%;">Seleziona Data</button>
            </form>
        </div>
        
    </div>


    <div class="container">
        {% for orario in orari %}
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ orario.orario }}</h5>
                {% if orario.status == 'prenotato' %}
                    <button type="submit" disabled class="btn btn-primary" style="background-color: #ffb800 !important; border: #ffb800 !important; margin: 2px; width: 100%;">Richiesto</button>
                    <form action="/utentiPrenotati">
                        <button type="submit" class="btn btn-primary" style="background-color: #ffb800 !important; border: #ffb800 !important; margin: 2px; width: 100%;">Vai alle Prenotazoni</button>
                    </form>
                {% endif %}
                {% if orario.status == 'disp' %}
                    <button type="submit" disabled class="btn btn-primary" style="background-color: green !important; border: green !important; margin: 2px; width: 100%;">Disponibile</button>
                    <form action="/orari" method="post">
                        <input type="hidden" name="idOrario" value="{{ orario.id }}">
                        <input type="hidden" value="disattiva" name="cambioStatus">
                        <button type="submit"  class="btn btn-primary" style="background-color: green !important; border: green !important; margin: 2px; width: 100%;">Disattiva Orario</button>
                    </form>           
                {% endif %}
                {% if orario.status == 'ndisp' %}
                    <button type="submit" disabled class="btn btn-primary" style="background-color: red !important; border: red !important; margin: 2px; width: 100%;">Non Disponibile</button>
                    <form action="/orari" method="post">
                        <input type="hidden" name="idOrario" value="{{ orario.id }}">
                        <input type="hidden" value="attiva" name="cambioStatus">
                        <button type="submit"  class="btn btn-primary" style="background-color: red !important; border: red !important; margin: 2px; width: 100%;">Attiva Orario</button>
                    </form>  
                {% endif %}
                <form action="/eliminaOrario" method="post">
                    <input type="hidden" name="idOrario" value="{{ orario.id }}">
                    <button type="submit" class="btn btn-primary" style="background-color: red !important; border: red !important; margin: 2px; width: 100%;">Elimina Orario</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
