{% extends "layout.html" %}

{% block title %}
    <title>DIVINA - RIMUOVI ELEMENTI</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/stylePrenota.css">
{% endblock %}

{% block script %}
    <script src="../static/scriptRemove.js" defer></script>
{% endblock %}


{% block body %}

<div class="formPrenotazione">
    <div class="scurente">
        <div class="divPrenota">
            <div class="panCon" style="padding-top: 3%;">
                <form action="/rimuovi" method="post" class="formForm">
                    <div class="form-field">
                        <select name="section" class="formInput">
                            <option selected disabled>Seleziona la sezione</option>
                            {% for categoria in cibi %}
                                <option value="{{ categoria.nome_categoria }}">{{ categoria.nome_categoria }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-field">
                        {% for categoria in cibi %}
                            <select name="item" class="formInput" id="{{ categoria.nome_categoria }}" required>
                                <option selected disabled>Seleziona un elemento da rimuovere</option>
                                {% for cibo in categoria.contenuto_categoria %}
                                    <option value="{{ cibo.food_name }}">{{ cibo.food_name }}</option>
                                {% endfor %}
                            </select>
                        {% endfor %}
                    </div>
                    <div class="form-field">
                        <button type="submit" class="bottoneSubmit">Rimuovi</button>
                    </div>
                </form>
                <br><br><br>
                <form action="/admin" class="formForm">
                    <div class="form-field">
                        <button type="submit" class="bottoneSubmit">Torna al pannello di controllo</button>
                    </div>
                </form>

                <div class="card text-center" style="width: 18rem;">
                    <img src="../static/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Bevande</h5>
                      <a href="#" class="btn btn-primary" style="background-color: #ffb800 !important; border: #ffb800 !important;">Modifica</a>
                    </div>
                  </div>
                
            </div>
        </div>
    </div>
</div>

<!--
<div class="card text-center" style="width: 18rem;">
    <img src="../static/1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Bevande</h5>
        <a href="#" class="btn btn-primary" style="background-color: #ffb800 !important; border: #ffb800 !important;">Modifica</a>
    </div>
</div>
-->

{% endblock %}