<!DOCTYPE html>
<html lang="it">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baskervville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=REM&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=REM:wght@600&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>DIVINA - PRENOTA</title>
    <link rel="stylesheet" href="../static/stylePrenota.css">
    <script src="../static/popup.js" defer></script>
    <link rel="icon" href="../static/logoPng.png" type="image/icon type">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>  

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <script src="../static/script.js" defer></script>

</head>
<body>
    <div class="formPrenotazione">
        <div class="scurente">
            <div class="menuBar">
                <form action="/home">
                    <button class="menuButton" name="home">HOME</button>
                </form>
                <form action="/menu">
                    <button class="menuButton" name="menu">MENU</button>
                </form>
                <form action="/prenotazioni">
                    <button class="menuButtonCurrent" name="prenotazioni">PRENOTAZIONI</button>
                </form>
            </div>
            <div class="show">
                <div id="popup" class="popup">
                    <p>Vuoi autocompletare i dati?</p>
                    <button id="yesBtn" class="bottoneSubmit">Si</button>
                    <button id="noBtn" class="bottoneSubmit">No</button>
                </div>
            </div>

            <div class="hide" id="contenitoreNonRiempito">
                <div class="divPrenota">
                    <form action="/prenotazioni" method="post" class="formForm">
                        <div class="form-field">
                            <input type="text" name="nome" autofocus placeholder="Nome" required class="formInput">
                        </div>
                        
                        <div class="form-field">
                            <input type="text" name="cognome" placeholder="Cognome" required class="formInput">
                        </div>
                        
                        <div class="form-field">
                            <input type="text" name="phone" placeholder="Numero di Telefono" required class="formInput">
                        </div>
                        
                        <div class="form-field">
                            <input type="date" name="date" placeholder="Data" id="dataInserimento" required class="formInput">
                        </div>

                        <div class="form-field">
                            <input type="number" name="posti" placeholder="Persone" required class="formInput">
                        </div>

                        <div class="form-field">
                            <select name="orario" class="formInput">
                                <option selected disabled>Seleziona un orario</option>
                                {% for orario in orari %}
                                    <option value="{{orario.orario}}">{{orario.orario}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-field">
                        <button class="bottoneSubmit" type="submit">Prenota</button>
                        </div>

                    </form>
                </div>
            </div>

            <div class="hide" id="contenitoreRiempito">
                <div class="divPrenota">
                    <form action="/prenotazioni" method="post" class="formForm">
                        <div class="form-field">
                            <input type="text" name="nome" autofocus placeholder="Nome" required class="formInput" autocomplete="Alessandro">
                        </div>
                        
                        <div class="form-field">
                            <input type="text" name="cognome" placeholder="Cognome" required class="formInput" autocomplete="Chiarulli">
                        </div>
                        
                        <div class="form-field">
                            <input type="text" name="phone" placeholder="Numero di Telefono" required class="formInput">
                        </div>
                        
                        <div class="form-field">
                            <input type="date" name="date" placeholder="Data" id="dataInserimento" required class="formInput">
                        </div>

                        <div class="form-field">
                            <input type="number" name="posti" placeholder="Persone" required class="formInput">
                        </div>

                        <div class="form-field">
                            <select name="orario" class="formInput">
                                <option selected disabled>Seleziona un orario</option>
                                {% for orario in orari %}
                                    <option value="{{orario.orario}}">{{orario.orario}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-field">
                        <button class="bottoneSubmit" type="submit">Prenota</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="settings">
        <div class="menuBar">
            <form action="#">
                <button class="settingsButton">Termini e Condizioni</button>
            </form>
            <form action="#">
                <button class="settingsButton">Cookie Policy</button>
            </form>
            <form action="/login">
                <button class="settingsButton" name="prenotazioni">LOGIN</button>
            </form>
            <form action="/register">
                <button class="settingsButton" name="prenotazioni">REGISTRATI</button>
            </form>
        </div>
        <div class="social">
            <a href="https://www.instagram.com/divinapizzeria_braceria/">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngkey.com%2Fpng%2Ffull%2F1-19361_watercolor-instagram-icon-png-instagram-logo-white-on.png&f=1&nofb=1&ipt=377ad582c2a71eab09461ffcf60b5880d411376a17263b9ef4d1153d7e09f413&ipo=images" alt="instagram" class="socialLogo">
            </a>
            <a href="https://www.facebook.com/divinabraceriapizzeria">
                <img src="../static/facebook.png" alt="facebook" class="socialLogo">
            </a>
            <a href="https://www.tripadvisor.it/Restaurant_Review-g187874-d3267198-Reviews-Divina_Pizzeria_Braceria-Bari_Province_of_Bari_Puglia.html">
                <img src="../static/trip.png" alt="tripadvisor" class="socialLogo">
            </a>
        </div>
    </div>

</body>
</html>