{% extends "layout.html" %}

{% block style %} 
    <link rel="stylesheet" href="../static/stylePage.css">
{% endblock %}

{% block title %} 
    <title>Termini e Condizioni</title>
{% endblock %}

{% block body %}
    <div class="divMenuBar">
        <div class="menuBar">
            <form action="/home">
                <button class="menuButton" name="home">HOME</button>
            </form>
            <form action="/menu">
                <button class="menuButton" name="menu">MENU</button>
            </form>
            <form action="/prenotazioni">
                <button class="menuButton" name="prenotazioni">PRENOTAZIONI</button>
            </form>
        </div>
    </div>
    <div class="all">
        <div class="titleDivNuovo">
            <h1 class="titolo">Termini e Condizioni</h1>
        </div>
        <div class="pDiv">
            <p class="sort">Divina Di Stella Roberto Italy (ai quali si fa di seguito congiuntamente riferimento con le espressioni "noi", "nostro", "nostri" o "Divina") si impegnano a proteggere la privacy di tutti i visitatori del sito www.pizzeriadivina.com, o dell’applicazione per dispositivi mobili (congiuntamente indicati come "Siti"). Raccomandiamo di leggere la seguente privacy policy contenente la descrizione delle modalità di utilizzo e di tutela dei dati degli utenti. Saremo i titolari del "trattamento" delle informazioni che ci fornirete.
                <br>
                1. Contatti
                <br>
                Se hai domande o richieste riguardanti la presente informativa sulla privacy o, più in generale, su come gestiamo i tuoi dati, ti preghiamo di contattarci ai seguenti indirizzi
                
                Contattando il nostro servizio clienti all’indirizzo: pizzeriadivina@gmail.com;
                <br>
                2. Come Raccogliamo Le Tue Informazioni
                <br>
                Raccogliamo le tue informazioni personali quando interagisci con noi o utilizzi i nostri servizi, nonché quando utilizzi i nostri Siti. Prestiamo inoltre attenzione alle modalità in cui gli utenti utilizzano i nostri Siti, per aiutarci a migliorare i nostri servizi e ottimizzare l’esperienza dei clienti.
                
                Raccogliamo informazioni:
                
                quando crei un account con noi o modifichi le impostazioni del tuo account;
                
                quando effettui un ordine, Prenotazione con noi e nel corso della procedura di ordinazione (anche per il pagamento e la consegna dell'ordine);
                
                quando ci contatti direttamente tramite email, telefono, posta, messaggio o chat; e
                
                quando navighi e utilizzi i nostri Siti (sia prima che dopo aver creato un account con noi).
                
                Raccogliamo anche informazioni provenienti dai siti di terzi, quali ad esempio piattaforme pubblicitarie ed il nostro provider di rilevamento frodi.
                <br>
                3. Informazioni Che Raccogliamo Da Te
                <br>
                Come parte del nostro impegno a proteggere la privacy dei nostri clienti e più in generale, di chi visita i nostri Siti, vogliamo essere chiari sul tipo di informazioni che raccoglieremo da te.
                <br>
                Quando visiti i Siti o effettui un ordine su Divina attraverso i Siti, ti viene richiesto di fornire informazioni che ti riguardano, incluso il tuo nome, i tuoi dettagli di contatto, l’indirizzo per la consegna, i dettagli dell’ordine e le informazioni relative al pagamento come ad esempio i dati della carta di debito o di credito.
                <br>
                Raccogliamo anche informazioni relative all’utilizzo da parte tua dei Siti e informazioni su di te da qualunque messaggio che pubblichi sui Siti o quando ci contatti o ci fornisci opinioni, tramite e-mail, lettera, telefono o chat. Nel caso in cui dovessi contattarci per telefono, registreremo la chiamata a fini di formazione e miglioramento del servizio, e prenderemo note in relazione alla tua chiamata. Raccogliamo informazioni tecniche dal tuo dispositivo mobile o computer, ad esempio il suo sistema operativo, il tipo di dispositivo e di connessione, e l’indirizzo IP dal quale effettui l’accesso ai nostri Siti.
                <br>
                Raccogliamo anche informazioni tecniche relative al tuo utilizzo dei nostri servizi attraverso un dispositivo mobile, per esempio, dati del vettore, dati relativi alla tua posizione geografica e dati relativi all’operazione come metodi di pagamento mobile.
                <br>
                Trattiamo informazioni riguardanti il tuo stato di salute solo se ce li hai forniti volontariamente e hai prestato il tuo consenso al trattamento, per esempio nel caso in cui tu specifichi qualunque allergia alimentare.
                <br>
                4. Utilizzo Delle Tue Informazioni
                <br>
                Tratteremo i dati raccolti su di te solo ove vi sia un motivo, e solo se tale motivo sia consentito dalla legislazione in materia di protezione dei dati. Saremo legittimati al trattamento delle tue informazioni se: dovremo trattare le tue informazioni al fine di fornirti i servizi che hai richiesto o per stipulare un contratto; abbiamo il tuo consenso; abbiamo un legittimo interesse per trattare i tuoi dati; o se abbiamo l’obbligo giuridico di farlo.
                <br>
                Laddove dovessimo trattare i tuoi dati per fornirti il servizio che ci hai richiesto o stipulare un contratto, utilizzeremo le tue informazioni per:
                
                consentirci di fornirti l’accesso alle rispettive sezioni dei Siti;
                
                fornirti i servizi richiesti;
                
                consentirci di riscuotere i pagamenti da te effettuati; e
                
                contattarti ove necessario in relazione ai nostri servizi, ad esempio per risolvere problemi che tu possa aver avuto con il tuo ordine.
                <br>
                Trattiamo i tuoi dati anche laddove abbiamo una legittima ragione per farlo, ad esempio per personalizzare i nostri servizi, incluso il trattamento dei dati al fine di rendere più semplice e veloce per te effettuare ordini. Abbiamo elencato tali ragioni di seguito:
                
                per migliorare l’efficacia e la qualità del servizio che i nostri clienti possono attendersi da noi in futuro;
                
                per permettere al nostro team di supporto ai clienti di assisterti per ogni richiesta o reclamo nel modo più efficiente possibile;
                
                per contattarti e chiederti un’opinione sui nostri servizi e per avvisarti qualora ci fossero importanti cambiamenti o sviluppi ai Siti o ai nostri servizi, come ad esempio informarti che i nostri servizi sono operativi in una nuova zona, laddove tu ce lo abbia richiesto;
                
                per analizzare la tua attività sui Siti così da poter gestire, supportare, migliorare e sviluppare la nostra attività e per scopi statistici e di analisi e per aiutarci a prevenire le frodi;
                
                per eseguire i termini del nostro contratto e di ogni altro accordo in essere con te, e per l’esercizio di, o la difesa contro, azioni legali e per proteggere i diritti di Divina, o altrui (incluso per prevenire le frodi);
                
                qualora tu ci inviassi commenti ed opinioni riguardo i Siti e i servizi, potremmo usare tali commenti e opinioni sui Siti e su eventuali materiali commerciali e pubblicitari. In tali casi, verrai identificato solo con il tuo nome di battesimo e città in cui vivi; e
                
                se hai acconsentito a ricevere notifiche attraverso l’applicazione mobile, potremmo inviarti notifiche relative ai servizi richiesti e informazioni sui nostri servizi e offerte. Potrai decidere in qualunque momento di non ricevere più notifiche da noi semplicemente modificando le impostazioni sul tuo dispositivo mobile.
                <br>
                Analizzeremo anche i dati sull’utilizzo da parte tua dei nostri servizi dalla tua posizione geografica al fine di creare profili relativi a te e per te. Ciò significa che potremmo elaborare determinate ipotesi circa i tuoi interessi e utilizzare ciò, ad esempio, per inviarti comunicazioni commerciali maggiormente adatte a te per farti conoscere offerte speciali o prodotti che riteniamo ti possano interessare. Tale attività è descritta come profilazione dell’utente. Hai determinati diritti in relazione a tale tipo di trattamento. Ti preghiamo di prendere visione della sezione "I tuoi diritti" che segue per maggiori informazioni.
                <br>
                Qualora avessimo un legittimo interesse a trattare le tue informazioni personali, eseguiremo un "test di bilanciamento" per assicurarci che ciò sia necessario e che i tuoi fondamentali diritti alla riservatezza siano prevalenti rispetto ai nostri legittimi interessi. Se desideri ricevere ulteriori informazioni su questi test di bilanciamento, puoi contattarci agli indirizzi di cui sopra.
                <br>
                Qualora fossimo vincolati dalla legge, potremmo usare le tue informazioni al fine di:
                
                creare un registro dei tuoi ordini;
                
                adempiere a qualunque altro obbligo di legge o requisito normativo a cui siamo soggetti.
                <br>
                6. Cookies
                <br>
                Puoi modificare le impostazioni del tuo browser in modo tale da rifiutare tutti o alcuni cookie, o da ricevere una notifica quando siti internet impostano o accedono a cookie. Se disabiliti o rifiuti i cookie, ricorda che alcune sezioni dei Siti potrebbero essere inaccessibili o non funzionare correttamente. Per maggiori informazioni riguardo ai cookie che utilizziamo, puoi consultare la nostra informativa sui cookie: https://www.pizzeriadivina.com/cookie-policy.
                <br>
                7. Direct Marketing
                <br>
                Laddove tu abbia prestato il tuo consenso o avessimo un giustificato motivo (e siamo autorizzati a fare ciò dalla legge) utilizzeremo le tue informazioni per informarti sui prodotti e i servizi che potrebbero interessarti e a tale scopo potremmo contattarti tramite email o telefono (compreso il servizio di notifica). Puoi controllare le tue preferenze commerciali:
                
                visitando il nostro sito internet, https://www.pizzeriadivina.com
                <br>
                8. Processo Decisionale Automatizzato
                <br>
                Effettuiamo controlli anti frode su tutti i clienti. Qualora dovessimo rilevare eventuali attività fraudolente, potremmo bloccare il tuo account per impedirti di effettuare ordini e utilizzare i Siti.
                <br>
                Effettuiamo controlli anti frode su tutti i clienti perché questo è necessario per rendere i nostri servizi contrattuali ai clienti, garantendo che i servizi che forniamo siano debitamente pagati, nonché per fare in modo che gli stessi clienti siano protetti da transazioni fraudolente sulle loro carte.
                
                utilizziamo sistemi i quali analizzano i dati dell’ordine al fine di prendere decisioni automatiche sull'accettazione o meno di un ordine. Riteniamo che questo sia un modo più giusto, accurato ed efficiente di condurre controlli anti frode I controlli e le decisioni assunte considerano varie componenti tra cui noti indicatori del settore antifrode che il nostro provider esperto in rilevamento frodi ci mette a disposizione, nonché le tipologie di frodi che abbiamo rilevato sui nostri Siti.
                
                potremmo rifiutare l’ordine effettuato dal cliente o addirittura bloccarne l’account per impedire l’accesso ai nostri servizi. Gli indicatori di frode sono dinamici e variano a seconda dei tipi di frode che vengono rilevati nel mondo, nel paese e sui nostri Siti in un determinato momento.
                <br>
                Per conoscere i tuoi diritti in materia, consulta la sezione “I tuoi diritti” più avanti. Il nostro processo di rilevamento delle frodi permette di proteggere tutti i nostri clienti e Divina stessa. Hai il diritto di contestare qualsiasi decisione antifrode presa su di te e di ricevere maggiori informazioni sulle motivazioni; puoi farlo contattandoci secondo le modalità indicate nella precedente sezione 1.
                <br>
                9. Conservazione Delle Tue Informazioni
                <br>
                Non conserveremo le tue informazioni per un periodo più lungo di quanto riteniamo necessario.
                <br>
                Le informazioni che raccogliamo saranno conservate per il tempo necessario a soddisfare le finalità descritte nella sezione "Utilizzo delle mie informazioni" che precede, in linea con il nostro legittimo interesse al trattamento o per un periodo specificamente richiesto dai regolamenti o dalle leggi applicabili, come la conservazione delle informazioni a fini di segnalazione regolamentare.
                <br>
                Nel determinare i periodi di conservazione pertinenti, prenderemo in considerazione fattori quali:
                
                i nostri obblighi e diritti contrattuali in relazione alle informazioni coinvolte;
                
                l’obbligo giuridico (o obblighi giuridico/giuridici)ai sensi della legge applicabile di conservare i dati per un certo periodo di tempo.;
                
                il termine di prescrizione ai sensi della legge applicabile (o delle leggi applicabili);
                
                i nostri interessi legittimi laddove avessimo effettuato test di bilanciamento (vedere la sezione "Utilizzo delle informazioni" che precede);
                
                (eventuali) controversie; e
                
                linee guida emesse dalle autorità competenti per la protezione dei dati.
                <br>
                Diversamente, cancelleremo in modo sicuro le tue informazioni laddove non necessitiamo più delle stesse per gli scopi presi in considerazione.
                <br>
                10. Divulgazione Delle Tue Informazioni
                <br>
                Le informazioni che raccogliamo su di te saranno trasferite e conservate sui nostri server. Prestiamo molta attenzione e siamo trasparenti sui soggetti con cui in generale condividiamo le tue informazioni.
                <br>
                Condivisione delle tue informazioni con terzi:
                <br>
                Condividiamo le tue informazioni con terzi fornitori di servizi. I tipi di terzi fornitori di servizi con i quali condividiamo le tue informazioni includono:
                <br>
                Fornitori di pagamenti (inclusi i fornitori di pagamenti online e i fornitori di servizi di rilevamento frodi):al fine di fornirci i servizi, per esempio quando trattano per noi informazioni come pagamenti con carta di credito, forniscono servizi di supporto a te o svolgono controlli anti frode per noi;
                <br>
                Fornitori di servizi IT (inclusi fornitori di servizi cloud):per gli scopi di analisi e conservazione dei dati;
                <br>
                Ristorante:presso cui hai effettuato l’ordine in modo da consentire loro di completare l’ordine, essere edotti di qualunque allergia alimentare di cui tu abbia volontariamente riferito loro, risolvere questioni o migliorare i loro servizi;
                <br>
                Rider: per consentire loro di consegnarti il tuo ordine;
                
                supporto ai clienti:chi ci assisterà nel risolvere qualunque problema tu possa avere in relazione ai nostri servizi; e
                <br>
                Partner di marketing e pubblicitari:per consentire loro di mostrarti le pubblicità più pertinenti per te e di inviarti e-mail di marketing per nostro conto.
                <br>
                Divina prenderà tutte le misure ragionevolmente necessarie per assicurare che i tuoi dati siano trattati in modo sicuro e in conformità a questa informativa sulla privacy, qualora questi vengano trasferiti a terzi.
                <br>
                Nel caso in cui la nostra impresa dovesse realizzare una joint venture con un’altra impresa, acquistare un’altra impresa, essere acquistata da un’altra impresa o fondersi con un'altra impresa, le tue informazioni potrebbero essere rivelate o trasferite a tali imprese, nonché ai nostri nuovi partner commerciali, ai nostri nuovi proprietari o ai loro consulenti.
                <br>
                Possiamo inoltre condividere le tue informazioni:
                
                se abbiamo un obbligo di rivelare o condividere le tue informazioni al fine di adempiere (e/o nel caso in cui ritenessimo di essere soggetti ad un obbligo di adempiere)a qualsiasi obbligo di legge o requisito normativo. Ciò include lo scambio di informazioni con altre società e altre organizzazioni al fine di prevenzione delle frodi e protezione dalle stesse;
                
                al fine di eseguire i nostri obblighi contrattuali nei tuoi confronti e ogni altro accordo;
                
                per proteggere i diritti di Divina, dei ristoranti, dei rider, dei clienti o altrui, incluso il fine di prevenire le frodi; e
                
                con quei terzi che ritenessimo ragionevolmente necessari per rilevare o prevenire reati, ad esempio forze di polizia.
                <br>
                Trasferimento internazionale di dati:
                <br>
                In alcuni casi i dati personali che raccogliamo su di te potrebbero essere trattati al di fuori dello Spazio Economico Europeo ("SEE"), ad esempio negli Stati Uniti.
                <br>
                Questi paesi potrebbero non avere le stesse forme di protezione per i tuoi dati personali di cui dispone lo SEE. Tuttavia, siamo obbligati a garantire che i dati personali trattati da noi e dai nostri fornitori al di fuori dello SEE siano protetti nello stesso modo in cui lo sarebbero se fossero trattati all'interno dello SEE. Esistono pertanto alcune misure di sicurezza per i casi in cui i dati vengano trattati al di fuori dello SEE.
                <br>
                Garantiamo che sia offerto un livello di protezione simile, assicurandoci che sia attuata almeno una delle seguenti misure di sicurezza:
                
                i tuoi dati personali sono trasferiti in paesi che sono stati giudicati in grado di fornire un livello adeguato di protezione dei dati personali da parte della Commissione Europea;
                
                usiamo le Clausole Contrattuali Tipo approvate dall'UE; e
                
                nel caso in cui i tuoi dati personali vengano trasferiti a terzi fornitori stabiliti negli Stati Uniti, i dati possono essere loro trasferiti se gli stessi abbiano presentato un’autocertificazione ai sensi dello schema Privacy Shield (c.d. "Scudo per la Privacy") in relazione al tipo di dati da trasferire, che richiede loro di fornire una protezione simile ai dati personali condivisi tra l'UE e gli Stati Uniti.
                <br>
                Ti preghiamo di contattarci utilizzando gli indirizzi riportati in precedenza nel caso in cui desideri ottenere ulteriori informazioni circa i paesi ai quali possono essere trasferiti i dati personali e lo specifico meccanismo utilizzato per il trasferimento dei tuoi dati personali al di fuori dello SEE.
                <br>
                11. Sicurezza
                <br>
                Adottiamo solide tecnologie e politiche per garantire che le tue informazioni personali in nostro possesso che siano adeguatamente protette.
                <br>
                Adottiamo misure per proteggere le tue informazioni da accessi non autorizzati, trattamenti illeciti, perdite accidentali, distruzione e danneggiamenti.
                <br>
                Nel caso in cui tu abbia scelto una password che ti consenta di accedere ad alcune sezioni dei Siti, hai la responsabilità di conservare tale password in maniera confidenziale. Ti raccomandiamo di non condividere la tua password con nessuno.
                <br>
                Purtroppo la trasmissione di informazioni via internet non è del tutto sicura. Sebbene adottiamo misure per proteggere le tue informazioni, non possiamo garantire la sicurezza dei dati che ci trasmetti; qualsiasi trasmissione è a tuo solo rischio. Una volta ricevute le tue informazioni, utilizzeremo procedure e misure di sicurezza rigorose per provare a prevenire accessi non autorizzati.
                <br>
                12. I Tuoi Diritti
                <br>
                In base alla legislazione in materia di protezione dei dati, potresti avere una serie di diritti relativi ai tuoi dati in nostro possesso. Se desideri esercitare uno di questi diritti, ti preghiamo di contattare il nostro Responsabile per la Protezione dei Dati utilizzando i contatti sopra riportati. Per ulteriori informazioni sui tuoi diritti, ti preghiamo di contattare l'autorità per la protezione dei dati e di consultare quanto segue.
                <br>
                Diritto di essere informato. Hai il diritto di ricevere informazioni chiare, trasparenti e facilmente comprensibili sulle modalità in cui utilizziamo le tue informazioni e sui tuoi diritti. Questo è il motivo per cui ti forniamo le informazioni attraverso questo documento.
                <br>
                Diritto di accesso. Hai il diritto di ottenere l'accesso alle tue informazioni (se le stiamo trattando). Ciò ti consentirà, ad esempio, di verificare che stiamo utilizzando le tue informazioni in conformità con la legislazione in materia di protezione dei dati. Se desideri accedere alle informazioni che deteniamo su di te in questo modo, ti preghiamo di metterti in contatto (vedi Contattaci).
                <br>
                Diritto alla rettifica. Hai il diritto di far correggere le tue informazioni qualora queste fossero imprecise o incomplete. Puoi richiederci di correggere eventuali errori nelle informazioni che conserviamo, contattandoci (vedi sezione “Contatti”).
                <br>
                Diritto alla cancellazione. Questo è anche noto come "diritto all'oblio" e, in termini semplici, ti consente di richiedere la cancellazione o la rimozione di alcune informazioni che ti riguardano, contattandoci (vedi sezione “Contatti”). Tale diritto non è assoluto e si applica solo in determinate circostanze.
                <br>
                Diritto alla limitazione del trattamento. Hai il diritto di "bloccare" o "sopprimere" un ulteriore utilizzo delle tue informazioni. Quando il trattamento è limitato, possiamo ancora conservare le tue informazioni, ma non utilizzarle ulteriormente.
                <br>
                Diritto alla portabilità dei dati. Hai il diritto di ottenere le tue informazioni personali in un formato accessibile e trasferibile in modo da poterlo riutilizzare per i tuoi propri scopi con diversi fornitori di servizi. Questo non è un diritto generale, tuttavia, e sono previste delle eccezioni. Per ulteriori informazioni ti preghiamo di metterti in contatto (vedi sezione “Contatti”).
                <br>
                Diritto di presentare un reclamo. Hai il diritto di presentare un reclamo circa il modo in cui gestiamo o trattiamo le tue informazioni dinanzi all'autorità competente per la protezione dei dati (vedi sezione "Reclami").
                <br>
                Diritto di revocare il consenso. Se hai fornito il tuo consenso a qualsiasi cosa facciamo con le tue informazioni (ossia, se utilizziamo il consenso come base legale per il trattamento di determinate informazioni), hai il diritto di revocare tale consenso in qualsiasi momento. Puoi farlo contattandoci (vedi sezione “Contatti”). La revoca del consenso non renderà comunque illegale l’utilizzo da parte nostra delle tue informazioni per il periodo in cui il tuo consenso era evidente.
                <br>
                Diritto di opporti al trattamento. Hai il diritto di sollevare un'obiezione a determinati tipi di trattamento, incluso il trattamento per finalità di direct marketing e profilazione. Puoi opporti modificando le tue impostazioni di marketing, disabilitando i cookie come nei paragrafi 7 e 8 sopra, oppure contattandoci (vedi sezione “Contatti”).
                <br>
                13. Modifiche Alla Nostra Privacy Policy
                <br>
                Qualsiasi modifica alla nostra informativa sulla privacy sarà pubblicata sui Siti e, ove opportuno
                <br>
                La presente informativa sulla privacy è stata aggiornata l’ultima volta il: 13/11/2020
                <br>
                14. Reclami
                <br>
                Se non sei soddisfatto della nostra risposta a qualsiasi reclamo o ritieni che il nostro trattamento delle tue informazioni non sia conforme alla legislazione in materia di protezione dei dati, puoi presentare un reclamo al Garante per la Protezione dei Dati Personali ai seguenti indirizzi:
                <br>
                Indirizzo: Divina, Via Orazio Comes, 55, 70124 Bari BA 
                <br>
                Numero di telefono: 080 5615713
                <br>
                Sito internet: http://www.garanteprivacy.it/</p>
        </div>
    </div>

    <div class="settings">
        <div class="menuBar">
            <form action="/termini">
                <button class="settingsButton">Termini e Condizioni</button>
            </form>
            <form action="/cookie">
                <button class="settingsButton">Cookie Policy</button>
            </form>
            <form action="/login">
                <button class="settingsButton" name="prenotazioni">LOGIN</button>
            </form>
            <form action="/register">
                <button class="settingsButton" name="prenotazioni">REGISTRATI</button>
            </form>
        </div>
        <div class="social">
            <a href="https://www.instagram.com/divinapizzeria_braceria/">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngkey.com%2Fpng%2Ffull%2F1-19361_watercolor-instagram-icon-png-instagram-logo-white-on.png&f=1&nofb=1&ipt=377ad582c2a71eab09461ffcf60b5880d411376a17263b9ef4d1153d7e09f413&ipo=images" alt="instagram" class="socialLogo">
            </a>
            <a href="https://www.facebook.com/divinabraceriapizzeria">
                <img src="../static/facebook.png" alt="facebook" class="socialLogo">
            </a>
            <a href="https://www.tripadvisor.it/Restaurant_Review-g187874-d3267198-Reviews-Divina_Pizzeria_Braceria-Bari_Province_of_Bari_Puglia.html">
                <img src="../static/trip.png" alt="tripadvisor" class="socialLogo">
            </a>
        </div>
    </div>


{% endblock %}