<!DOCTYPE html>
<html lang="it">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baskervville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=REM&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN - UTENTI PRENOTATI</title>
    <link rel="stylesheet" href="../static/styleTable.css">
    <link rel="icon" href="../static/logoPng.png" type="image/icon type">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>  

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <script defer src="../static/script.js"></script>

</head>
<body>
    <div class="mainContainer">
        <div class="pannelloDiControllo">
            <form action="/admin">    
                <button type="submit" class="bottoneSubmit">Torna al pannello di controllo</button>
            </form>
        </div>
        <div class="pannelloDiControllo">
            <select name="sort">
                <option selected disabled>Seleziona l'ordine</option>
                <option value="today">Oggi</option>
                <option value="past">Passati</option>
                <option value="incoming">In arrivo</option>
                <option value="all">Tutti</option>
            </select>
        </div>
        <table id="all">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Numero di telefono</th>
                    <th>Giorno</th>
                    <th>Ora</th>
                    <th>Status</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Franco</td>
                    <td>Esposito</td>
                    <td>3923084198</td>
                    <td>2023-10-3</td>
                    <td>20:30</td>
                </tr>
                <tr>
                    <td>Erminio</td>
                    <td>Ottone</td>
                    <td>3923084198</td>
                    <td>2023-08-13</td>
                    <td>20:30</td>
                </tr>
                <tr>
                    <td>Nadia</td>
                    <td>Arrea</td>
                    <td>3923084198</td>
                    <td>2023-08-12</td>
                    <td>20:30</td>
                </tr>
                <tr>
                    <td>Laca</td>
                    <td>Pocchia</td>
                    <td>3923084198</td>
                    <td>2023-10-13</td>
                    <td>20:30</td>
                </tr>
            </tbody>
        </table>

        <table id="today">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Numero di telefono</th>
                    <th>Giorno</th>
                    <th>Ora</th>
                    <th>Status</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Erminio</td>
                    <td>Ottone</td>
                    <td>3923084198</td>
                    <td>2023-08-13</td>
                    <td>20:30</td>
                </tr>
            </tbody>
        </table>

        <table id="past">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Numero di telefono</th>
                    <th>Giorno</th>
                    <th>Ora</th>
                    <th>Status</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nadia</td>
                    <td>Arrea</td>
                    <td>3923084198</td>
                    <td>2023-08-12</td>
                    <td>20:30</td>
                </tr>
            </tbody>
        </table>

        <table id="future">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Numero di telefono</th>
                    <th>Giorno</th>
                    <th>Ora</th>
                    <th>Status</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Laca</td>
                    <td>Pocchia</td>
                    <td>3923084198</td>
                    <td>2023-10-13</td>
                    <td>20:30</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

<!--

{% extends  "layout.html" %}

{% block title %}
    <title>ADMIN - UTENTI PRENOTATI</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/styleTable.css">
{% endblock %}


{% block body %}

    <div class="mainContainer">
        <div class="pannelloDiControllo">
            <form action="/admin">    
                <button type="submit" class="bottoneSubmit">Torna al pannello di controllo</button>
            </form>
        </div>
        <div class="pannelloDiControllo">
            <form action="/utentiPrenotati" method="get">
                <select name="sort">
                    <option selected disabled>Seleziona l'ordine</option>
                    <option value="today">Oggi</option>
                    <option value="past">Passati</option>
                    <option value="incoming">In arrivo</option>
                    <option value="all">Tutti</option>
                </select>
                <button type="submit" class="submitButton">Conferma</button>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Numero di telefono</th>
                    <th>Giorno</th>
                    <th>Ora</th>
                    <th>Status</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                {% for prenotazione in prenotati %}
                <tr>
                    <td>{{prenotazione.nome}}</td>
                    <td>{{prenotazione.cognome}}</td>
                    <td>{{prenotazione.telefono}}</td>
                    <td>{{prenotazione.data}}</td>
                    <td>{{prenotazione.ora}}</td>
                    
                    <td>
                        <form action="">
                            <button class="{{ prenotazione.status}}">
                                {% if prenotazione.status == 'incoming' %}
                                    Non ancora eseguito
                                {% endif %}
                                {% if prenotazione.status == 'doing' %}
                                    In esecuzione
                                {% endif %}
                                {% if prenotazione.status == 'past' %}
                                    Passato
                                {% endif %}
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="/utentiPrenotati" method="post" class="formForm">
                            <input type="hidden" name="idPrenotazione" value="{{ prenotazione.id }}">
                            <select name="cambioStatus" class="formInput">
                                <option selected disabled>Stato</option>
                                <option value="incoming">Non ancora eseguito</option>
                                <option value="doing">In esecuzione</option>
                                <option value="past">Passato</option>
                            </select>
                            <button type="submit" class="submitButton">Conferma</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

-->