{% extends "layout.html" %}


{% block style %}
    <link rel="stylesheet" href="../static/styleMenu.css">
{% endblock %}

{% block body %}
<div class="regDiv">
    <div class="menuBevande">
        <table>
            {% for user in users %}
            <tr>
                <td class="menuItem">{{ user.name }}</td>
                <td class="menuItem">{{ user.surname }}</td>
                <td class="menuItem">{{ user.email }}</td>
            </tr>
            {% endfor %}
        </table>
        <form action="/admin">
            <button type="submit" class="bottoneSubmit" style="margin: 2%;">Torna al pannello di controllo</button>
        </form>
    </div>
</div>

{% endblock %}