{% extends  "layout.html" %}

{% block title %}
    <title>ADMIN - UTENTI PRENOTATI</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/styleTable.css">
{% endblock %}


{% block body %}

    <div class="mainContainer">
        <div class="pannelloDiControllo">
            <form action="/admin">    
                <button type="submit" class="bottoneSubmit">Torna al pannello di controllo</button>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Numero di telefono</th>
                    <th>Giorno</th>
                    <th>Ora</th>
                    <th>Status</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                {% for prenotazione in prenotati %}
                <tr>
                    <td>{{prenotazione.nome}}</td>
                    <td>{{prenotazione.cognome}}</td>
                    <td>{{prenotazione.telefono}}</td>
                    <td>{{prenotazione.data}}</td>
                    <td>{{prenotazione.ora}}</td>
                    
                    <td>
                        <form action="">
                            <button class="{{ prenotazione.status}}">
                                {% if prenotazione.status == 'incoming' %}
                                    Non ancora eseguito
                                {% endif %}
                                {% if prenotazione.status == 'doing' %}
                                    In esecuzione
                                {% endif %}
                                {% if prenotazione.status == 'past' %}
                                    Passato
                                {% endif %}
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="/utentiPrenotati" method="post">
                            <input type="hidden" name="idPrenotazione" value="{{ prenotazione.id }}">
                            <select name="cambioStatus">
                                <option selected disabled>Stato</option>
                                <option value="incoming">Non ancora eseguito</option>
                                <option value="doing">In esecuzione</option>
                                <option value="past">Passato</option>
                            </select>
                            <button type="submit" class="submitButton">Conferma</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
